html{

}

body, html{
  height:100%;
}
body{
  background: url('img/defaultfloor.jpg') no-repeat center center fixed;
  background-size: cover;
  margin: 0px;
  background-color:#444;
  font-size: 18px;
}
body, a:link, a:visited, a:active{
  color: lightblue;
}
.title, .addDancerButton{
  padding:5px 12px;
  float:right;
}
.topbar{
  height:32px;
  background-color: #555;
}
.title{
  background-color: #777;
}
.dancefloor{
  width:90%;
  /*border: 1px solid red;*/
  margin:auto;
  height:75%;
}
.dancer{
  background-image: url('img/giphy.gif');
  background-size: contain;
  width:100px;
  height:100px;
  max-width: 100%;
  max-height: 100%;
  /*border:10px solid red;*/
  /*border-radius:10px;*/
  position:absolute;
  transition: top 4s, left 4s, border-color .5s, border-radius .5s;
  /*transition-duration: 4s;*/
  transition-timing-function: ease-in-out;
}
.blinkyDancer{
  border:20px solid blue;
}
.rainbowDancer{
  border-radius: 0;
}
.morphyDancer{
  border:40px solid blue;
}
.addMusicButton{
  position:absolute;
  top:50px;
  left:50px;
  width: 0;
  height: 0;
  border-top: 20px solid transparent;
  border-left: 40px solid white;
  border-bottom: 20px solid transparent;
}
.addMusicButton:hover{
  border-left: 40px solid green;
}
audio{
  margin-left:10px;
  margin-top:50px;
}
